/* Import Font: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Start Body */
body {
    direction: ltr !important;
    text-align: left !important;
    font-family: "Raleway", sans-serif !important;
}

/* End Body */

/* Start Header */


@media (min-width: 992px) {
    .header .mobile-menu .main-nav > li > a::before {
        left: 0;
        right: auto;
    }
}
@media (max-width: 991px) {
    .header .mobile-menu .main-nav > li > a {
        padding-left: 23px;
    } 
}

.header .nav-contact img {
    transform: rotate(90deg);
}

/* End Header */

/* Start Footer */
footer .footer-column ul li a::before {
    left: 0;
    right: auto;
}

footer .social-links li a i {
    margin-right: 15px;
    margin-left: auto;
}
.newsletter form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
     border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.newsletter form .newsletter-button {
     border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
/* End Footer */

/* 
==============================================
================= Index.html =================
==============================================
*/
/* leadership-section */
.leadership-section img.bg_about {
    right: 0;
    left: auto;
}

/* Partners Section */
.partners-section .container {
    flex-direction: row-reverse;
}

.partners-content {
    max-width: 600px;
}

.partners-section .container {
    flex-direction: row-reverse;
}
.partners-section .image img {width: 40%;}

@media (max-width: 1200px) {
    .partners-section .partners-content {
        max-width: 450px;
    }
}

@media (max-width: 991px) {
    .partners-section .container {
        flex-direction: column;
    }
    .partners-section .partners-content {
        max-width: 100%;
        order: -1;
    }
    .partners-section .image img {
        width: 100%;
        margin: 0 auto;
    }
}
/* Partners Section */

/* Start faq Section */

.faq-section .container .faq-content .faq-item .faq-question h4 {
    font-size: 20px;
}
/* End faq Section */

/* Start Contact */
.contact-section .contact-content .contact-form .contact-options {
    align-items: flex-start;
    flex-direction: column;
}

.contact-section .contact-content .contact-form .contact-options .form-check {
    padding: 0;
}

.contact-section .contact-info .info-item .info-label::before {
    right: auto;
    left: 0;
}
/* End Contact */



