/* Import Font: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Start Body */
body {
    direction: ltr !important;
    text-align: left !important;
    font-family: "Raleway", sans-serif !important;
}

/* End Body */

/* Start Header */


@media (min-width: 992px) {
    .header .mobile-menu .main-nav > li > a::before {
        left: 0;
        right: auto;
    }
}
@media (max-width: 991px) {
    .header .mobile-menu .main-nav > li > a {
        padding-left: 23px;
    } 
}

.footer-column:nth-child(2) {
    flex: 0 0 450px;
}
/* End Header */

/* Start Footer */
footer .footer-column ul li a::before {
    left: 0;
    right: auto;
}

footer .social-links li a i {
    margin-right: 15px;
    margin-left: auto;
}
/* End Footer */

/* 
==============================================
================= Index.html =================
==============================================
*/
/* Start Hero */
.hero {
    background-image: url("../image/hero_en.png");
    
} 
/* End Hero */

/* Start about */
.about-company-grid .about-company-content .about-company-stats .stat-item {
    align-items: flex-start;
}
@media (max-width: 1200px) {
    .about-company-grid .about-company-image:last-child img {
        right: 0;
        left: auto;
    }
}
@media (max-width: 768px) {
    .about-company-grid .about-company-image:last-child img {
        display: none;
    }
}
/* End about */

/* Start Company Strategy Section */
.company-strategy-section .strategy-image {
    right: 0;
    left: auto;
}

.company-strategy-section .strategy-image::after {
    left: auto;
    right: 0;
}

.company-strategy-section .strategy-image::before {
    left: -55px;
    right: auto;
}
@media (max-width: 768px) {
    .company-strategy-section .strategy-image::after {
        left: 0;
        right: auto;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .company-strategy-section .strategy-image img {
        width: 70%;
        margin-right: 0;
        margin-left: auto;
    }
}

/* End Company Strategy Section */

/* Start Services Section */
.our-services-section .services-header .services-navigation {
    flex-direction: row-reverse;
}
/* End Services Section */

/* StartFeatures Section */
.features-section .features-navigation {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.features-section .features-swiper .feature-card {
    height: 350px;
}
/* End Features Section */

/* Partners Section */
.partners-section .container {
    flex-direction: row-reverse;
}

.partners-content {
    max-width: 600px;
}

.partners-section .container {
    flex-direction: row-reverse;
}
.partners-section .image img {width: 40%;}

@media (max-width: 1200px) {
    .partners-section .partners-content {
        max-width: 450px;
    }
}

@media (max-width: 991px) {
    .partners-section .container {
        flex-direction: column;
    }
    .partners-section .partners-content {
        max-width: 100%;
        order: -1;
    }
    .partners-section .image img {
        width: 100%;
        margin: 0 auto;
    }
}
/* Partners Section */

/* Start faq Section */
@media (max-width: 768px) {
    .faq-section {
        min-height: 750px;
    }

    .faq-section::before {
        top: 40%;
        height: 943px;
    }
}
/* End faq Section */

/* Start Contact */
.contact-section .contact-content {
    direction: rtl;
}

.contact-section .contact-content .contact-form {
    direction: ltr;
}

.contact-section .contact-content .contact-form .contact-options {
    align-items: flex-start;
    flex-direction: column;
}

.contact-section .contact-content .contact-form .contact-options .form-check {
    padding: 0;
}
.contact-section .contact-content .contact-info p {
    direction: ltr;
}

.contact-section .contact-info .info-item .info-label::before {
    right: auto;
    left: 0;
}
@media (max-width: 991px) {
    .contact-section .contact-content .contact-info {
        align-self: flex-end;
    }
}
/* End Contact */

/* Start FAQ */
.faq-section .container .faq-content .faq-item .faq-question h4 {
    font-size: 20px;
}
/* End FAQ */


/* 
==============================================
================= Partners.html =================
==============================================
*/
.company-slider-section .swiper-slide {
    min-height: 700px;
}
@media (max-width: 768px) {
    .swiper-pagination.swiper-pagination-horizontal {
        bottom: 230px;
    }
}


