/*
Author: Zaki Abed
Project Name: IKHWA DIGITAL

------------------------------------------------
Table of Content
------------------------------------------------

1. General Styles
2. Header Styles
3. Footer Styles
*/


/* ------------------------------ */
/* 1. Global layout and resets */
/* ------------------------------ */
/* Font: SomarSans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
/* Global Reset */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

:root {
    --soft-white: rgba(253, 253, 253, 1);
    --white: rgba(255, 255, 255, 1);
    --white-20: rgba(255, 255, 255, 0.2);
    --black-10: rgba(0, 0, 0, 0.1);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-30: rgba(255, 255, 255, 0.3);
    --text: rgba(31, 41, 55, 1);
    --paragraph: rgba(85, 100, 130, 1);
    --paragraph-2: rgba(255, 255, 255, 0.9);
    --section-background: rgba(255, 253, 249, 1);
    --section-background-2: rgba(20, 28, 39, 1);
    --black-40: rgba(0, 0, 0, 0.4);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-5: rgba(255, 255, 255, 0.05);
    --white-4: rgba(255, 255, 255, 0.04);
    --primary: rgba(37, 153, 186, 1);
    --footer: rgba(4, 5, 9, 1);
    --font: 'IBM Plex Sans Arabic', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    direction: rtl;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--text);
}

p {
    color: var(--paragraph);
}

.text-gradient {
    background: linear-gradient(180deg, #3ED178 0%, #2599BA 38.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button, a {
    outline: none;
}

button:focus, a:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: rgba(37, 153, 186, 1);
}

/* Component Styles */
.section-header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.section-title {
    margin-bottom: 24px;
    font-size: 34px;
    font-weight: 600;
    line-height: 150%; 
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
}

/* ------------------------------ */
/* 2. Header Styles */
/* ------------------------------ */

/* Base Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 15px 0;
    background-color: rgb(31 41 55);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, min-height 0.3s ease;
}

.index-page .header {
    background-color: transparent;
    top: 25px;
}

.header.scrolled {
    background-color: rgb(31 41 55 / 89%);
    min-height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    top: 0;
}
/* Container Layout */
.header .container {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

/* Logo Styles */
.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo img {
    width: 62px;
    height: 77px;
    aspect-ratio: 62/77;
}

/* Mobile Menu Toggle Button */
.header .btn-show-nav {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--white);
}

.header .btn-show-nav:hover {
    opacity: 0.5;
}

/* Menu Overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 99;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Main Navigation */
.header .mobile-menu {
    display: flex;
    align-items: center;
    flex: 1;
}

.header .mobile-menu .main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

.header .mobile-menu .main-nav > li > a {
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 500;
    height: 50px;
    margin-inline-end: 10px;
    position: relative;
    padding: 10px 25px;
    border-radius: 45px;
}

.header .mobile-menu .main-nav > li > a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.header .mobile-menu .main-nav li a i {
    color: var(--white);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

/* Contact Nav Item */
.header .mobile-menu .main-nav .nav-contact-item {
    flex: 1;
}

.header .mobile-menu .main-nav .nav-contact {
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--white);
    text-align: center;
    font-weight: 600;
    line-height: 32px;
    border: 1px solid var(--white);
    border-radius: 55px;
    width: fit-content;
    justify-self: flex-end;
}

/* Language Dropdown */
.header .mobile-menu .lang-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.header .mobile-menu .lang-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    transition: color 0.3s;
}

.header .mobile-menu .lang-menu {
    position: absolute;
    top: 100%;
    left: -20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: none;
    min-width: 140px;
    z-index: 100;
}

.header .mobile-menu .lang-menu li {
    padding: 8px 15px;
}

.header .mobile-menu .lang-menu li a {
    color: var(--text);
    display: block;
    transition: 0.3s, color 0.3s;
}

.header .mobile-menu .lang-dropdown.active .lang-menu {
    display: block;
}

/* Responsive Styles */
@media (max-width: 991px) {
    /* Mobile Menu Layout */
    .header .container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0px;
    }

    .header .mobile-menu {
        position: absolute;
        width: 90%;
        top: 125px;
        right: 22px;
        flex-direction: column;
        align-items: start;
        background-color: var(--white);
        padding: 10px 20px 20px;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
    }

    .header .mobile-menu.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        background-color: var(--text);
        box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);
    }

    /* Mobile Navigation */
    .header .mobile-menu .main-nav {
        margin: 15px 0;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background-color: var(--text);
        border-radius: 10px;
    }

    .header .mobile-menu .main-nav li {
        width: 100%;
    }

    .header .mobile-menu .main-nav > li > a {
        border-left: 6px solid transparent;
        padding-right: 23px;
        border-radius: 0px;
        margin: 10px 0;
    }

    .header .mobile-menu .main-nav > li > a.active {
        border-left-color: var(--primary);
        background: rgba(238, 238, 238, 1);
        color: var(--text);
    }

    /* Mobile Language Dropdown */
    .header .mobile-menu .lang-dropdown {
        padding-top: 15px;
    }

    /* Mobile Menu Button */
    .header .btn-show-nav {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .mobile-menu .main-nav .nav-contact {
        justify-self: flex-start;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .header .mobile-menu .main-nav > li > a {
        font-size: 15px;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .header .mobile-menu .lang-menu li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
/* ------------------------------ */
/* 6. Footer */
/* ------------------------------ */

/* Base Footer Styles */
footer {
    padding: 80px 0;
    background-color: var(--footer);
    position: relative;
}

/* Container Layout */
footer .container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

footer .container:nth-child(1) {
    align-items: flex-start;
    margin-bottom: 115px;
    position: relative;
}

footer .container:nth-child(1)::before {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white-80);
    opacity: 0.2;
}

footer .container:nth-child(2) {
    align-items: center;
}

/* Footer Columns */
.footer-column {
    flex: 0 1 200px; 
}

footer .footer-column:nth-child(1) {
    flex: 0 1 200px;
}

footer .footer-column:nth-child(4) {
    flex: 0 1 360px;
    background: rgba(255, 255, 255, 0.1);
    padding: 32px 30px 55px;
}

/* Typography */
footer .footer__title {
    color: var(--White, #FFF);
    font-family: Archivo;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

footer .footer-column p {
    color: rgba(255, 255, 255, 0.9);
}

footer .footer-column h3 {
    font-size: 21px;
    margin-bottom: 30px;
    color: var(--white);
}

/* Navigation Links */
footer .footer-column ul li {
    margin: 15px 0;
}

footer .footer-column ul li a {
    color: var(--paragraph-2);
    position: relative;
    transition: color 0.3s ease;
}

footer .footer-column ul li a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(180deg, #3ED178 0%, #2599BA 38.94%);
    transition: all 0.3s ease;
}

footer .footer-column ul li a:hover::before {
    width: 100%;
}

/* Newsletter Section */
.newsletter form {
    display: flex;
    align-items: center;
    width: 100%;
}

.newsletter form .input-row {
    flex: 1;
}

.newsletter form input {
    background: var(--white);
    border: 0;
    padding: 25px 30px;
    color: var(--text);
    caret-color: var(--text);
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.newsletter form input::placeholder {
    color: var(--text);
}

.newsletter form input:focus {
    box-shadow: none;
}

.newsletter form .newsletter-button {
    padding: 25px;
    background-image: linear-gradient(180deg, #3ED178 0%, #2599BA 38.94%);
    border: 0;
    font-weight: 700;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    color: var(--white);
}

/* Download Section */
.footer__download-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--paragraph-2);
}

.footer__download-link:hover {
    text-decoration: underline !important;
}

/* Copyright Section */
.footer__copyright p {
    color: var(--paragraph-2);
    margin: 0;
}

/* Social Media Section */
.footer__social {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__label {
    color: var(--white);
}

.footer__icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__icons li a {
    border: 1px solid var(--white-30);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translateY(0);
}

.footer__icons li a:hover {
    transform: translateY(-5px);
}
/* ---------------------- */
/* Media Queries */
/* ---------------------- */
@media (max-width: 991px) {
    footer .container:nth-child(1) {
        align-items: flex-start !important;
    }
    footer .footer-column:nth-child(4) {
        flex: 0 1 100%
    }
    footer .container {
        flex-wrap: wrap;
    }
    
    footer .footer-column {
        flex: 0 1 170px;
    }
    
    .footer__download {
        order: 2;
    }
    
    .footer__copyright {
        order: 4;
    }
}